= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .legend
    = link_to 'Log in', root_path
    if you already had an account

  .form-group
    = devise_error_messages!

  .form-group
    = f.text_field :username, autofocus: true, placeholder: "Username",class: "form-control"

  .form-group
    = f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control"

  .form-group
    - if @validatable
      = f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control"
      %i
        (
        = @minimum_password_length
        characters minimum)

      = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "form-control"

  = f.submit "Sign up", class: "btn btn-block btn-primary"


// = render "devise/shared/links"
