.row
  .col-md-offset-1.col-md-8.thought-wrapper
    .row
      .form.thought-form
        = render "thoughts/form"
    .thought-legend
      %h5
        %b
          - if @search.nil?
            = "#ALL"
          - else
            = "#{@search.inspect}"
    - if @allThought.nil?
      %h3
        No such hash
        = "{@search}"
        available. Create one now?
    - else
      - @allThought.each do |t|
        .container.col-md-12
          .row.thoughts
            .thought-content
              = t.content
            .thought-action
              = t.updated_at.strftime("%d %B %I:%M %p")

  .col-md-2.hash-wrapper
    .row
      .form.hash-form
        = form_tag(controller: "home", action: "search" ,method: "POST", class: "form-inline") do
          .form-group
            =text_field_tag("search",nil, placeholder: "Search your tag now", class: "form-control")
    .container.col-md-12
      %h5
        %b #All you got now:
      - @allTags.each do |t|
        .row
          = t

