.row
  .col-md-offset-1.col-md-8.thought-wrapper
    .row
      .form.thought-form
        = render "thoughts/form"
    .thought-legend
      %h5
        %b
          - if @search.nil?
            = "#ALL"
          - else
            = "#{@search}"
    - if @allThought.nil?
      %h3
        No such hash
        = "#{@search}"
        available. Create one now?
    -elsif @allThought.blank?
      %h3 It's lonely here. Let's give me some thought!
    - else
      - @allThought.each do |t|
        .container.col-md-12
          .row.thoughts
            .thought-content
              = t.content
            .thought-action
              .col-md-3{ style: "padding-left: 0px;"}
                = t.updated_at.strftime("%d %B %I:%M %p")

              .col-md-3
                %a{ href: "/thoughts/#{t.id}/edit", "data-id" => "#{t.id}" }
                  %span.glyphicon.glyphicon-edit{ "aria-hidden" => "true" }

                %a{ href: "/thoughts/#{t.id}", "data-method" => "delete" }
                  %span.glyphicon.glyphicon-trash{ "aria-hidden" => "true"}

  .col-md-2.hash-wrapper
    .row
      .form.hash-form
        = form_tag(controller: "home", action: "search" ,method: "POST", class: "form-inline") do
          .form-group
            =text_field_tag("search",nil, placeholder: "Search your tag now", class: "form-control")
    .container.col-md-12
      %h5
        %b #ALL you got now:
      - @allTags.each do |t|
        = form_tag(controller: "home", action: "search" ,method: "POST", class: "form-inline") do
          .row
            = submit_tag t, class: "btn btn-default pull-left"
            %span.badge.pull-right
              = HashTag.find_by(hash_tag: t).thoughts.count.inspect

:javascript
  function editThought(r){

    var id = $(r).data("id");
    var content = $(r).parent().parent().prev().html();

    console.log(content);
    $(r).parent().parent().prev().html("<div>hola</div>");
    console.log(id);
    return false;
  }
