
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .legend
    Log in to your account or
    = link_to 'Sign up', new_user_registration_path
    to create one
  .form-group
    = f.email_field :email, autofocus: true, placeholder: "Username",class: "form-control"

  .form-group
    = f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control"

  .form-group
    - if devise_mapping.rememberable?
      = f.check_box :remember_me
      = f.label :remember_me


  = f.submit "Log in", class: "btn btn-block btn-primary"


// = render "devise/shared/links"
