= form_for(@thought, html: { class: "form-inline"}) do |f|
  - if @thought.errors.any?
    #error_explanation
      %h2= "#{pluralize(@thought.errors.count, "error")} prohibited this thought from being saved:"
      %ul
        - @thought.errors.full_messages.each do |msg|
          %li= msg

  .form-group.col-md-10
    = f.text_field :content, class: "form-control col-md-10", autofocus: "true", placeholder: "What are you thinking right now?"
  = f.submit 'Save', class: "btn btn-success"
